#code {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px;
    background-color: var(--gris);
    min-height: 300px;
}

:root {
    --azul: #2F6690;
    --azul_claro: #3A7CA5;
    --cyan: #81C3D7;
    --gris: #D9DCD6;
    --azul_fuerte: #16425B;
    --cyan_fuerte: #2A9D8F;
    --fuente: "Poppins", sans-serif;
}

body {
    background-color: var(--gris);
}



input[type="file"] {
    display: none;
}


main {
    display: grid;
    min-height: 70dvh;
    grid-template-rows: auto 1fr auto;
    font-family: var(--fuente);

}

footer {
    padding: 5% 5%;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 10px;
}

.titulo {
    text-align: center;
    font-family: var(--fuente);
    font-weight: 800;
    font-style: normal;
    color: var(--azul_fuerte);
}

.button-upload {
    display: inline-block;
    text-align: center;
    padding: 20px 10px 15px 10px;
}

.custom-file-upload {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: var(--azul_claro);
    font-family: var(--fuente);
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
    background-color: var(--cyan_fuerte);
}

.custom-file-upload:active {
    background-color: var(--azul_fuerte);
}

.botones {
    display: inline-block;
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-family: var(--fuente);
    font-weight: 700;
    font-style: normal;
    padding: 20px 0;
}

#atras,
#adelante {
    padding: 10px 15px;
    /* Aumenta el tamaño de los botones */
    font-size: 1.2rem;
    /* Aumenta el tamaño del texto */
    border: none;
    border-radius: 8px;
    /* Más redondeo en las esquinas */
    background-color: var(--azul_claro);
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Añade sombra para hacerlos destacar */
    transition: all 0.3s ease;
    /* Efecto suave de transición */
}

#atras:hover,
#adelante:hover {
    background-color: var(--cyan_fuerte);
    /* Cambia el color al pasar el mouse */
    transform: scale(1.05);
    /* Efecto de agrandamiento */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    /* Aumenta la sombra */
}

#atras:active,
#adelante:active {
    background-color: var(--azul_fuerte);
    /* Color al hacer clic */
    transform: scale(0.95);
    /* Pequeño efecto de compresión */
}

.column {
    flex: 1;
    padding: 0 10px;
}

.divider {
    width: 2px;
    /* Grosor de la línea */
    background-color: var(--azul);
    /* Color de la línea */
    margin: 0 20px;
    /* Espacio alrededor de la línea */
    height: auto;
    /* Ajusta la altura para que coincida con el contenedor */
}